<div class="container-fluid bg"><br><br><br>
    <div class="row">
        <div class="col-md-4">
            <h5 style="text-align: center;">About Alfa Health:</h5>
            <a href="services">
                <h6 style="text-align: center;">Services</h6>
            </a>
            <a href="">
                <h6 style="text-align: center;">Home</h6>
            </a>
            <a href="about">
                <h6 style="text-align: center;">About Us</h6>
            </a>
            <a href="contact">
                <h6 style="text-align: center;">Contact Us</h6>
            </a>
            <a href="appointment">
                <h6 style="text-align: center;">Appointment</h6>
            </a>
            <a href="team">
                <h6 style="text-align: center;">Team</h6>
            </a>


        </div>
        <div class="col-md-4">
            <h5 style="text-align: center;">Follow us on Social Media</h5><br>
            <p style="text-align: center;">
                <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
            </p><br><br>
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Privacy Policy</a></li>
                        <li class="breadcrumb-item"><a href="#">Disclaimer</a></li>
                        <li class="breadcrumb-item"><a href="#">Sitemap</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <h4>Contact Us:</h4>
            <p>+91-800-6543-765, +91-800-3434-876</p>
            <hr>
            <h4>Address:</h4>
            <p>415,Apollo Street, Thane<br> Mumbai-400080</p>
            <hr>
            <h4>Opening Time</h4>
            <p>Mon–Fri: 9:00 am–6:00 pm<br>Sat–Sun: 11:00 am–4:00 pm</p>
        </div>

    </div>
</div>