<div class="container-fluid"><br><br>
    <div class="row">
        <div class="col-md-6">
            <img class="img" src="assets/images/head/about.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center; color: #0092D1;;">A Few Words About Us</h2><br><br>
            <p style="text-align: center;">Founded in 1999, Alfa Health is an award-winning medical center providing first-class healthcare services to local residents and city<br>guests.</p>
            <p style="text-align: center;">You can trust that your health is being managed by the professional<br> team of health care experts who care about your unique needs and<br> goals. We facilitate partnerships between individual patients, their<br> personal physicians, and
                when appropriate, the patient's family.</p><br><br>
            <p style="text-align:center;"> <button type="button" class="btn btn-primary">Learn More</button></p>
        </div>
    </div>
</div>