<div class="container-fluid"><br><br><br><br>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/location.svg" alt="">
        </div>
        <div class="col-md-6">
            <h3 style="color: #0092D1;">Locations:</h3>
            <p>Alfa presence encompasses over 10,000 beds across 70 hospitals, 4000+ pharmacies, over 172 primary care & diagnostic clinics, 148 telemedicine units across 13 countries…</p><br>
            <table class="table table-bordered">
                <thead>
                    <!-- <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <!-- <th scope="row"></th> -->
                        <td>Ahemdabad</td>
                        <td>Delhi</td>
                        <td>Indore</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">2</th> -->
                        <td>Karur</td>
                        <td>Aragonda</td>
                        <td>Madurai</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Nellore</td>
                        <td>Banglore</td>
                        <td>Guwahati</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Nellore</td>
                        <td>Banglore</td>
                        <td>Guwahati</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Kolkata</td>
                        <td>Lakhnow</td>
                        <td>Bhuvneshwar</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Mysore</td>
                        <td>Ranipet</td>
                        <td>Chennai</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Hydrabad</td>
                        <td>Kakinanda</td>
                        <td>Mumbai</td>
                    </tr>
                    <tr>
                        <!-- <th scope="row">3</th> -->
                        <td>Bilaspur</td>
                        <td>Nashik</td>
                        <td>Trichi</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>