<br><br>
<h2 style="text-align:center;">Our Blogs</h2><br><br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#">
                    <h6 class="card-title">Why You Should Regularly Visit Your Local Physician</h6>
                </a>
                <p class="card-text">If you never see a doctor, you can’t ever have a relationship with one. On the other hand, having a regular physician means having someone who knows the intricacies of your medical history and who will…</p>
                <a href="#" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#">
                    <h6 class="card-title">Picking the Right Diagnostic Services for Efficient Results</h6>
                </a>
                <p class="card-text">In recent years, a wide range of diagnostic tests has become available for use in resource-constrained settings.Accordingly, a huge number of guidelines, performance evaluations and implementation...</p>
                <a href="#" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog1.jpg" class="card-img-top" height="250px" alt="...">
            <div class="card-body">
                <a href="#">
                    <h6 class="card-title">Awake Brain Surgeory</h6>
                </a>
                <p class="card-text">Awake brain surgery,is a type of procedure performed on the brain while you are awake and alert. Awake brain surgery is used to treat some brain (neurological) conditions, including some brain tumors or epileptic seizures.
                </p>
                <a href="https://healthlibrary.askapollo.com/awake-brain-surgery/" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>

</div><br><br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog2.png" class="card-img-top" height="250px" alt="...">
            <div class="card-body">
                <a href="#">
                    <h6 class="card-title">Covid-19 FAQs</h6>
                </a>
                <p class="card-text">Along with other federal, state, and local agencies and public health officials across the country, the FDA continues critical work to protect public health during the COVID-19 pandemic. Find the most recent FDA updates on our Coronavirus
                    Disease 2019 page. </p>
                <a href="https://healthlibrary.askapollo.com/common-covid-19-faqs-in-hindi/" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog3.jpg" class="card-img-top" height="250px" alt="...">
            <div class="card-body">
                <a href="">
                    <h6 class="card-title">Covid-19 Symptoms</h6><br>
                </a>
                <p class="card-text">As we keep on acquiring new information on COVID-19, we can see that the situation which should have been under control by now is nowhere near it. Every day, COVID-19 is in the news, showing new symptoms or variants affecting the human
                    race.
                </p>
                <a href="https://healthlibrary.askapollo.com/new-covid-19-symptoms-to-look-out-for/" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/images/blog/blog4.jpeg" class="card-img-top" height="250px" alt="...">
            <div class="card-body">
                <a href="#">
                    <h6 class="card-title">Anger Management</h6>
                </a>
                <p class="card-text">Anger management is a psycho-therapeutic program for anger prevention and control. It has been described as deploying anger successfully. Anger is frequently a result of frustration, or of feeling blocked or thwarted from something the
                    subject feels is important.
                </p>
                <a href="https://healthlibrary.askapollo.com/what-is-anger-management/" class="btn btn-primary">Continue Reading</a>
            </div>
        </div>
    </div>

</div>