<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><br><br>
            <img class="img" src="assets/images/head/app.jpg" alt="">
        </div>
        <div class="col-md-6"><br><br>
            <div>
                <h3 style="color:#0092D1;text-align: center;">Book Your Appointment</h3><br>
                <form>
                    <label for="name">Enter Your Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">

                    <label for="department">Choose Department</label>
                    <select id="department" name="department">
                  <option value="cardiologist">Cardiologist</option>
                  <option value="child">Child Specialist</option>
                  <option value="general">General Physician</option>
                  <option value="gynacologst">Gynacologist</option>
                  <option value="neurologist">Neurologist</option>
                  <option value="opthalmologist">Opyhamologist</option>
                  <option value="traumatologist">Traumatologist</option>
                  <option value="dentiest">Dentiest</option>

                </select>

                    <label for="doctor">Select Doctor</label>
                    <select id="doctor" name="doctor">
                  <option value="brenda">Dr. Brenda Lopez</option>
                  <option value="patrick">Dr. Patrick Douglas</option>
                  <option value="deborah">Dr. Deborah Stewart</option>
                  <option value="joe">Dr. Joe Myers</option>
                  <option value="frances">Dr. Frances Watson</option>
                  <option value="raonald">Dr. Ronald Chen</option>
                  <option value="sandra">Dr. Sandra Ferguson</option>
                  <option value="ruth">Dr. Ruth Marshal</option>

                </select>
                    <label for="date">Select Date:</label>&nbsp;&nbsp;
                    <input type="date" id="date" name="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="appt">Select Time:</label>&nbsp;&nbsp;

                    <input type="time" id="appt" name="appt" min="09:00" max="18:00" required><br><br>
                    <p style="text-align: center;"><input type="submit" value="Submit"></p>
                </form>
            </div>

        </div>

    </div>
</div>