#nav1 {
    background: #0092D1;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/* @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
   
} */