#sidebar {
    background: #00508B;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    /* color: yellow; */
    color: white;
    background: #0092D1;
}

#content {
    padding-bottom: 50px;
}