<div class="container-fluid"><br><br>
    <div class="row">
        <div class="col-md-8">
            <h1 style="color:#0092D1;">Contact Us:</h1><br><br>
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email address">

                <label for="phone">Contact No.</label>
                <input type="text" id="phone" name="phone" placeholder="Your contact no.">

                <label for="subject">Message</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-4">
            <h2 style="color:#0092D1;">Address:</h2>
            <hr>
            <p>415,Apollo Street, Thane<br> Mumbai-400080</p><br>
            <h2 style="color:#0092D1;">Phones:</h2>
            <hr>
            <p><a href="#">+91-800-6543-765, +91-800-3434-876</a></p><br>
            <h2 style="color:#0092D1;">Email:</h2>
            <hr>
            <p><a href="#">alphahealth@gmail.com</a></p><br>
            <h2 style="color:#0092D1;">Opening Hours:</h2>
            <hr>
            <p>Mon–Fri: 9:00 am–6:00 pm<br>Sat–Sun: 11:00 am–4:00 pm</p><br>
        </div>
    </div>
</div>