<br><br><br>

<h2 style="text-align: center; color:#0092D1;"><u>Our Services</u></h2><br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <h5 style="text-align: center;color: #0092D1;">Blood Transfusion Services:</h5><br>
            <p style="text-align: center;">Blood Transfusion Services (Blood Bank) is the vital part of modern health care system without which efficient medical care is impossible. It is a complex department requiring careful designing and management.</p>
            <p>The aim of a Blood Bank department is to provide effective blood and blood components, which are as safe as possible, and adequate to meet the patients need.The department uses state-of-art technology and stringent quality control protocols
                to ensure timely supply of the safest possible blood and blood components. The Blood component preparation Laboratory is a state of the art laboratory that is well equipped with latest instruments.</p>
        </div><br><br>
        <div>
            <h5 style="text-align: center;color: #0092D1;">MRI & CT Scan:</h5><br>
            <p>The Department of CT Scan & MRI at the Alfa Hospital is a highly specialized, full-service department which strives to meet all patient and clinician needs in diagnostic imaging and image-guided procedures.</p>
            <p>The Department has been characterized by the strength of its clinical leadership having 2 full time consultants.</p>
            <p><b>Ingenia 3.0T CX Philips MRI</b> – The machine has the advanced light weight super conductivity magnet that has exceptional homogeneity for a large field of view; also the rapid view facility enables parallel acquisition and processing of
                image details that considerably reduces scan time. The machine enables the highest resolution brain images to identify any brain malformations, tumors, strokes, or injury that may generate a seizure disorder.</p>
            <p><b>Multislice Computerized Tomography (64 slice CT)</b> – The fully loaded 64 slice Siemens SOMATOM Definition AS CT scan Machine is a state-of-the-art medical imaging technology essential to many neurological and spinal procedures. The advanced
                software allows performing wide variety of CT procedures with high degree of diagnostic accuracy.</p>
        </div><br><br>
        <div>
            <h5 style="text-align: center;color: #0092D1;">Echo/Stress & Holter:</h5><br>
            <p>The department of Non Invasive Cardiology at Alfa Hospital was started in 2003 with basic facilities for monitoring and treatment of patients.It is a full-fledged Cardiac diagnostic department and has two latest generation Echo machines.It
                is one of the busiest departments of Alfa Hospital and caters to indoor, as well as,outdoor patients.The Indoor facility provides for Echo cardiography in the Echo Room which is located on the 1st floor and also Bedside portable Echo on
                emergency basis.</p>

        </div><br><br>
        <div>
            <h5 style="text-align: center;color: #0092D1;">ECG & X-Ray:</h5><br>
            <p>An x-ray (radiograph) is a non-invasive medical test that helps physicians diagnose and treat medical conditions. X-rays are the oldest and most frequently used form of medical imaging. At Alfa Hospital, we use fully digital x-ray techniques.
                The department is located on the Basement of Alfa Hospital Building where most of the General Radiology work is done.</p>
            <h6 style="color: #0092D1;">Special X-Ray Investigations:</h6><br>
            <ul>
                <li>I.V.P.</li>
                <li>Retrograde Cystouurethrograhy</li>
                <li>Micturating Cystouurethrograhy</li>
                <li>Barium Swallow</li>
                <li>Barium Meal</li>
                <li>Barium Enema</li>
                <li>T–Tube Cholangiograhpy</li>
                <li>Fistulogram</li>

            </ul>
        </div>
    </div>

    <div class="col-md-2"></div>

</div>