<br>
<img class="img" src="assets/images/depart/dental.jpg" alt="">
<p>The Alfa Healyh Institutes are regarded as one of the best hospitals in India, performing a multitude of treatments and procedures in dental surgery. The scorecard shows an unmatched record of over 1,52,000 dental surgeries.
</p><br>
<p>Our team of dentist are trained at the top institutes in India and abroad and are completely dedicated to the treatment for coronary heart diseases. Our pioneering work for the prevention and treatment of dental diseases has led to the achievement of
    better outcomes and improved quality of life for thousands of dental patients who visit us each year with complex teeth problems. Alfa Hospitals has a team led by the best Dentist in India and our advanced infrastructure supports the complex nature
    of the teeth care provided. </p>
<p style="text-align: center;">
    <a href="appointment">
        <button type="button" class="btn btn-primary">Book Your Appointment</button>
    </a>
</p>

<br><br>
<h3 style="color:#0092D1 ;">Dental surgeon</h3>
<hr>
<p>While work is an important part of life, one cannot compromise where heath is concerned.Getting yourself tested and treated from the best of Cardiology doctors for all your issues is not only a wise choice but also a vital one in order to ensure healthy
    living. This especially applies to critical illnesses affecting the heart.</p>
<div class="row" style="background-color: lightblue;">
    <div class="col-md-6"><br><br>
        <div class="card" style="width: 18rem;">
            <img src="assets/images/team/joe.jpg" class="card-img-top" alt="...">
            <div>
                <h6 style="text-align: center;">Dr. Joe</h6>
                <p style="text-align: center;">Dentist</p>
            </div>

        </div><br><br>

    </div>
    <div class="col-md-6"><br><br>
        <div>
            <h4 style="color:#0092D1 ;">Skills:</h4>
            <p>Problem Solving, Emotinal Strenght, Confidance</p><br><br>
        </div>
        <div>
            <h4 style="color:#0092D1 ;">Awards:</h4>
            <p>2017- Best Dentist</p>
            <p>2016- The Most Innovative Specialist</p><br><br>
        </div>
        <div>
            <h4 style="color:#0092D1 ;">Certificates:</h4>
            <p>2017- National UCNS Certification</p>
            <p>2016- Vascular Dentist</p>
            <p>2016- Functional Dentist</p>
        </div>
    </div>
</div><br><br>
<h5 style="color:#0092D1 ;">Get In Touch:</h5><br>
<div class="col-sm-8">
    <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email address">

        <label for="phone">Contact No.</label>
        <input type="text" id="phone" name="phone" placeholder="Your contact no.">

        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>