<!-- <div class="container-fluid"> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/home/home3.jpg" class="img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/images/home/home2.jpg" class="img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/images/home/home1.png" class="img" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- </div> -->
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <p>Who We Are</p>
            <h2>Why Choose Alfa Health</h2><br>
            <p>Established by Dr Prathap C Reddy in 1999, Alfa Health has a robust presence<br> across the healthcare ecosystem. From routine wellness & preventive health care<br> to innovative life-saving treatments and diagnostic services, Alfa Health
                has
                <br> touched more than 120 million lives from over 120 countries, offering the best<br> clinical outcomes.</p><br><br>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">7,000+ Healing Hands</h5>
                            <p class="card-text">Largest network of the world’s finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">4000+ Pharmacies</h5>
                            <p class="card-text">Alfa Pharmacy is India’s first, largest and most trusted branded pharmacy network, with over 4000 plus outlets covering the entire nation</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Most Advance Healthcare Technology</h5>
                            <p class="card-text">Alfa Hospitals has been the pioneer in bringing ground-breaking healthcare technologies to India.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Best Clinical Outcome</h5>
                            <p class="card-text">Leveraging its vast medical expertise & technological advantage, Alfa Hospitals has consistently delivered best in class clinical outcomes.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div>
                <img src="assets/images/home/home4.jpg" class="card-img-top" alt="...">
                <!-- <div class="card-body">
                </div> -->
            </div><br><br>
            <div>
                <img src="assets/images/home/home5.jpg" height="300" class="card-img-top" alt="...">
                <!-- <div class="card-body">
                </div> -->
            </div>
        </div>

    </div>

</div>
<hr>
<div class="container-fluid">
    <h3 style="text-align:center; color:#0092D1;">Our Patients Speak</h3><br><br>
    <div class="row">
        <div class="col-md-5">
            <img class="img" src="assets/images/home/home6.jpg" alt=""><br><br><br>
            <img class="img" src="assets/images/home/home7.jpg" alt="">

        </div>
        <div class="col-md-7">
            <h6>Mrs. KumardaraniIndia</h6>
            <p>Kumaradarani is now six years post liver transplant and is enjoying her new lease on life she is now the proud grandmother of an energetic 18 month old granddaughter. She has married off one of her sons and is looking to marry and settle her
                other son. All this seemed like a distant dream six years ago when she could not care for her children, barely walk nor eat and was constantly worried about her children's future, a future she did not think she could be a part of. She
                and her children feel lucky and grateful for this time together and would also like to be organ donors as they now recognize the impact this act has on others lives.</p><br>

            <p>Mrs. Kumardarani<br> 53 years old</p>
            <hr>
            <h6>Dr. Rama Devi</h6>
            <p>I come from a family of doctors and I was suffering from morbid obesity with co-morbidities like diabetes, hypertension, sleep apnoea. It was becoming increasingly difficult for me to concentrate on my practice and continue my day today life.
                I've been consulted at least six doctors in the past three months for surgical option, still not able to convince myself. I finally consulted Dr.Rajkumar and was very happy to see him spend lots of time explaining everything about obesity,
                its surgical options and what suits me better. I got operated after adequate preparation. To my surprise I had a very smooth recovery, and was able to be discharged with liquid diet on day 3. Being a doctor, I could appreciate the way
                he has organized his team and the way every single doubt, worries and apprehensions are addressed even before you ask them. Hospital services were excellent too. I am happy to be operated by the best in the region.</p><br>
            <p>Dr. Rama Devi<br> General Practitioner, Hyderabad</p>
            <hr>
            <h6>Mr. Peter, USA</h6>
            <p>My sincere gratitude and many thanks to you and your staff. Everyone was great - Dr. Prajit, nurses, rehab therapists, Mohan, Healthbase, the Main charge of Alfa's food, cleaning staff... top shelf all the way. The entire experience was so
                incredibly positive that I find myself sharing it with anyone who will listen...</p>

        </div>

    </div>
</div>