<div class="container-fluid"><br><br>
    <h1 style="text-align:center; color:#0092D1;"> Our Team</h1><br><br>
    <div class="row">
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/brenda.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Brenda Lopez</a></h4>
                    <p style="text-align: center;">Cardiologist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/patrick.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Patrick Douglas</a></h4>
                    <p style="text-align: center;">Opthalmologist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/deborah.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Deborah Stewart</a></h4>
                    <p style="text-align: center;">Neurologist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/joe.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Joe Myers</a></h4>
                    <p style="text-align: center;">Dentist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/frances.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Frances Watson</a></h4>
                    <p style="text-align: center;">Traumatologist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/ronald.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Ronald Chen</a></h4>
                    <p style="text-align: center;">General Physician</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/ruth.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Ruth Marshall</a></h4>
                    <p style="text-align: center;">Child Specialist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 16rem;">
                <img src="assets/images/team/sandra.jpg" class="card-img-top img" alt="...">
                <div>
                    <h4 style="text-align: center;"><a href="#">Sandra Ferguson</a></h4>
                    <p style="text-align: center;">Gynacologist</p>
                    <p style="text-align: center;"> <a href=""><i style='font-size:24px' class='fab'>&#xf09a;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf16d;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf08c;</i></a>&nbsp;&nbsp;
                        <a href=""><i style='font-size:24px' class='fab'>&#xf099;</i></a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>